<div class="flex flex-col items-center bg-gray-900 min-h-screen py-4">
  <div class="max-w-5xl flex gap-4 flex-col w-full">
    <!-- <app-task-form (addTask)="onAddTask($event)"></app-task-form> -->
    <app-tasks-form-reactive (addTask)="onAddTask($event)"></app-tasks-form-reactive>
    <app-task-list
      [tasks]="listTask"
      (choseTask)="onChoseTask($event)"
    ></app-task-list>
    <div *ngIf="chosenTask">
      <app-task-details
        [task]="chosenTask"
        (choseTask)="onChoseTask($event)"
      ></app-task-details>
    </div>
    <div *ngIf="chosenTasks.length">
      <app-tasks-table [tasks]="chosenTasks"></app-tasks-table>
    </div>
    <app-tasks-kambam [tasks]="listTask"></app-tasks-kambam>
  </div>
</div>
