<div>
  <h2 class="line-clamp-1 text-neutral-100 text-center mb-4">
    Adicionar Nova Tarefa
  </h2>

  <form
    (ngSubmit)="submitTask()"
    class="flex flex-col gap-4"
    [formGroup]="formTask"
  >
    <div class="flex flex-col">
      <label class="text-base text-neutral-200" for="title">Titulo</label>
      <input
        class="rounded-md px-4 py-2 outline-none text-gray-950 bg-neutral-50 focus:ring-offset-2 focus:ring-amber-500 focus:ring-1"
        id="title"
        type="text"
        name="title"
        formControlName="title"
      />
      <span>
        {{ formTask.errors | json }}
      </span>
    </div>
    <div class="flex flex-col">
      <label class="text-base text-neutral-200" for="description"
        >Descrição</label
      >
      <textarea
        id="description"
        type="text"
        name="description"
        class="rounded-md px-4 py-2 outline-none text-gray-950 bg-neutral-50 focus:ring-offset-2 focus:ring-amber-500 focus:ring-1 resize-none"
        required
      ></textarea>
    </div>
    <div class="flex flex-col">
      <label class="text-base text-neutral-200" for="date"
        >Data de Vencimento</label
      >
      <input inputStyle id="date" name="date" type="date" required />
    </div>
    <div class="flex flex-col">
      <label class="text-base text-neutral-200" for="date">Status</label>
      <select
        name="status"
        class="rounded-md px-4 py-2 outline-none text-gray-950 bg-neutral-50 focus:ring-offset-2 focus:ring-amber-500 focus:ring-1"
        required
      >
        <option value="todo">Todo</option>
        <option value="inProgress">In Progress</option>
        <option value="done">Done</option>
      </select>
    </div>

    <button
      type="submit"
      class="w-full px-4 py-2 rounded-lg bg-amber-400 text-neutral-900 font-bold"
    >
      Adicionar Tarefa
    </button>
  </form>
</div>
