<div>
  <h2 class="line-clamp-1 text-neutral-100 text-center mb-4">
    Adicionar Nova Tarefa
  </h2>

  <form
    (ngSubmit)="submitTask()"
    class="flex flex-col gap-4"
    [formGroup]="formTask"
  >
    <div class="flex flex-col">
      <label class="text-base text-neutral-200" for="title">Titulo</label>
      <input
        class="rounded-md px-4 py-2 outline-none text-gray-950 bg-neutral-50 focus:ring-offset-2 focus:ring-amber-500 focus:ring-1"
        id="title"
        type="text"
        name="title"
        formControlName="title"
      />
      <span
        class="bg-red-500"
        *ngIf="
          formTask.controls['title'].errors &&
          formTask.controls['title'].touched
        "
        textError
      >
        {{
          formTask.controls["title"].errors["minlength"] &&
            "Título deve ter no mínimo " +
              formTask.controls["title"].errors["minlength"].requiredLength +
              " caracteres."
        }}
        {{
          formTask.controls["title"].errors["required"] &&
            "Título é obrigatório"
        }}
      </span>
    </div>
    <div class="flex flex-col">
      <label class="text-base text-neutral-200" for="description"
        >Descrição</label
      >
      <textarea
        id="description"
        type="text"
        name="description"
        class="rounded-md px-4 py-2 outline-none text-gray-950 bg-neutral-50 focus:ring-offset-2 focus:ring-amber-500 focus:ring-1 resize-none"
        formControlName="description"
      ></textarea>
      <span
        *ngIf="
          formTask.controls['description'].errors &&
          formTask.controls['description'].touched
        "
        textError
      >
        {{
          formTask.controls["description"].errors["minlength"] &&
            "Descrição deve ter no mínimo " +
              formTask.controls["description"].errors["minlength"]
                .requiredLength +
              " caracteres."
        }}
        {{
          formTask.controls["description"].errors["required"] &&
            "Descrição é obrigatória"
        }}
      </span>
    </div>
    <div class="flex flex-col">
      <label class="text-base text-neutral-200" for="date"
        >Data de Vencimento</label
      >
      <input
        inputStyle
        id="date"
        name="date"
        type="date"
        formControlName="date"
      />
      <span *ngIf="formTask.controls['date'].errors" textError>
        {{ formTask.controls["date"].errors | json }}
      </span>
    </div>
    <div class="flex flex-col">
      <label class="text-base text-neutral-200" for="date">Status</label>
      <select
        name="status"
        class="rounded-md px-4 py-2 outline-none text-gray-950 bg-neutral-50 focus:ring-offset-2 focus:ring-amber-500 focus:ring-1"
        formControlName="status"
      >
        <option value="todo">Todo</option>
        <option value="inProgress">In Progress</option>
        <option value="done">Done</option>
      </select>
      <span *ngIf="formTask.controls['status'].errors" textError>
        {{ formTask.controls["status"].errors | json }}
      </span>
    </div>

    <button
      type="button"
      class="w-fit px-4 py-2 rounded-lg bg-amber-400 text-neutral-900 font-bold"
      (click)="addTag()"
    >
      Adicionar tag
    </button>

    <div class="form-group" formArrayName="tags">
      <div
        *ngFor="let tag of tags.controls; let i = index"
        class="flex gap-2 items-center"
      >
        <label for="tags" class="text-xl text-neutral-200">Nome da Tag:</label>

        <input id="tags" type="text" [formControlName]="i" inputStyle />

        <span
          class="p-2 rounded-lg bg-red-500 text-neutral-100 w-10 h-10 flex items-center justify-center cursor-pointer hover:bg-red-600 transition-all ease-in duration-300"
          (click)="removeTag(i)"
          >X</span
        >
      </div>
    </div>

    <button
      type="submit"
      class="w-full px-4 py-2 rounded-lg bg-amber-400 text-neutral-900 font-bold"
    >
      Adicionar Tarefa
    </button>
  </form>
</div>
