<div class="flex justify-center">
  <div class="py-10 flex flex-col gap-8 max-w-[90rem] w-full">
    <div class="flex gap-4 items-center justify-center">
      <h1 class="text-3xl text-neutral-50 whitespace-nowrap">
        Lista de personagens do
      </h1>
      <img
        src="../../../assets/images/rick-and-morty.png"
        alt="rick and morty"
        class="w-48"
      />
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 px-4"
      *ngIf="isLoadingCharacters; else charactersLoaded"
    >
      <div
        *ngFor="let i of [].constructor(20)"
        class="w-full bg-gradient-to-tr from-gray-300 to-gray-200 animate-pulse h-[65vh] rounded-md relative"
      >
        <div
          class="h-4/6 bg-gradient-to-bl from-lime-300 via-emerald-300 via-20% to-lime-400"
        ></div>
      </div>
    </div>

    <ng-template #charactersLoaded>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 w-full px-4"
      >
        <ng-container *ngFor="let character of characters">
          <home-card [character]="character"></home-card>
        </ng-container>
      </div>
    </ng-template>

    <div class="flex items-center justify-center gap-4">
      <a
        *ngIf="charactersPageInfo.prev; else withoutPrevLink"
        [routerLink]="charactersPageInfo.prev"
        [queryParams]="{ page: prevPage }"
        class="rounded-md p-2 bg-emerald-100 flex items-center justify-center cursor-pointer"
      >
        <ng-icon
          name="radixChevronLeft"
          class="text-lime-800 text-2xl"
        ></ng-icon>
      </a>
      <ng-template #withoutPrevLink>
        <button
          type="button"
          class="rounded-md p-2 bg-emerald-100 flex items-center justify-center cursor-not-allowed opacity-50"
        >
          <ng-icon
            name="radixChevronLeft"
            class="text-lime-800 text-2xl"
          ></ng-icon>
        </button>
      </ng-template>

      <a
        *ngIf="charactersPageInfo.next; else withoutPrevLink"
        [routerLink]="charactersPageInfo.next"
        [queryParams]="{ page: nextPage }"
        class="rounded-md p-2 bg-emerald-100 flex items-center justify-center cursor-pointer hover:bg-emerald-200 group transition-all ease-in duration-200"
      >
        <ng-icon
          name="radixChevronRight"
          class="text-lime-800 text-2xl group-hover:text-lime-900"
        ></ng-icon>
      </a>
      <ng-template #withoutPrevLink>
        <button
          type="button"
          class="rounded-md p-2 bg-emerald-100 flex items-center justify-center cursor-not-allowed opacity-50 hover:bg-emerald-200 group transition-all ease-in duration-200"
        >
          <ng-icon
            name="radixChevronRight"
            class="text-lime-800 text-2xl group-hover:text-lime-900"
          ></ng-icon>
        </button>
      </ng-template>
    </div>
  </div>
</div>
