@tailwind base;
@tailwind components;
@tailwind utilities;

.backdrop-saturate-blur {
  backdrop-filter: saturate(180%) blur(5px);
}

::selection {
  background-color: rgb(162, 28, 175);
  color: rgb(229, 231, 235);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(162, 28, 175);
  border-left: 2px solid #4a044e;
  border-right: 2px solid #4a044e;
}

*::-webkit-scrollbar-track {
  background: #4a044e;
}
