@tailwind base;
@tailwind components;
@tailwind utilities;

.backdrop-saturate-blur {
  backdrop-filter: saturate(180%) blur(5px);
}

::selection {
  background-color: rgb(16, 185, 129);
  color: rgb(229, 231, 235);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(16, 185, 129);
  border-left: 2px solid rgb(167, 243, 208);
  border-right: 2px solid rgb(167, 243, 208);
}

*::-webkit-scrollbar-track {
  background: rgb(167, 243, 208);
}
