<div>
  <div class="py-4 border-t border-t-neutral-50">
    <h2
      class="line-clamp-1 text-neutral-100 text-center mb-4 uppercase text-xl"
    >
      Task list with update active
    </h2>
  </div>

  <div class="grid grid-cols-3 gap-4">
    <div>
      <h2
        class="text-center uppercase bg-amber-500 text-gray-900 py-1 rounded-md font-bold mb-4"
      >
        TODO
      </h2>
      <div class="flex flex-col gap-2">
        <ng-container *ngFor="let task of todoTasks; let i = index">
          <app-task-card
            [task]="task"
            [index]="i"
            (updateTask)="handleUpdateTask($event)"
          ></app-task-card>
        </ng-container>
      </div>
    </div>
    <div>
      <h2
        class="text-center uppercase bg-amber-500 text-gray-900 py-1 rounded-md font-bold mb-4"
      >
        IN PROGRESS
      </h2>
      <div class="flex flex-col gap-2">
        <ng-container *ngFor="let task of inProgressTasks; let i = index">
          <app-task-card
            [task]="task"
            [index]="i"
            (updateTask)="handleUpdateTask($event)"
          ></app-task-card>
        </ng-container>
      </div>
    </div>
    <div>
      <h2
        class="text-center uppercase bg-amber-500 text-gray-900 py-1 rounded-md font-bold mb-4"
      >
        DONE
      </h2>
      <div class="flex flex-col gap-2">
        <ng-container *ngFor="let task of doneTasks; let i = index">
          <app-task-card
            (updateTask)="handleUpdateTask($event)"
            [task]="task"
            [index]="i"
          ></app-task-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
