<footer class="bg-gray-950 flex flex-col gap-4 items-center py-6 px-5">
  <p class="text-center max-w-[90rem] text-neutral-50">
    Desenvolvido por Alan Junqueira
  </p>
  <div class="flex items-center justify-center gap-4 max-w-[90rem] w-full">
    <div
      class="w-full h-1 bg-gradient-to-br from-fuchsia-700 to-pink-500 rounded-r-lg animate-pulse"
    ></div>
    <a
      href="https://www.linkedin.com/in/alan-junqueira/"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-1 text-xs text-gray-200 hover:text-blue-600 group transition-all ease-in duration-200"
    >
      <span class="hidden md:block"> Linkedin </span>
      <ng-icon
        name="{{ logos.linkedin }}"
        class="md:opacity-0 md:group-hover:opacity-100 text-lg md:text-xs transition-all ease-in duration-200 text-gray-200 group-hover:text-blue-600"
      ></ng-icon>
    </a>
    <a
      href="https://www.instagram.com/_alanjunqueira/"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-1 text-xs text-gray-200 hover:text-rose-500 group transition-all ease-in duration-200"
    >
      <span class="hidden md:block"> Instagram </span>
      <ng-icon
        name="{{ logos.instagram }}"
        class="md:opacity-0 md:group-hover:opacity-100 text-lg md:text-xs transition-all ease-in duration-200 text-gray-200 group-hover:text-rose-500"
      ></ng-icon>
    </a>
    <a
      href="https://www.instagram.com/_alanjunqueira/"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-1 text-xs text-gray-200 hover:text-neutral-400 group transition-all ease-in duration-200"
    >
      <span class="hidden md:block"> Github </span>
      <ng-icon
        name="{{ logos.github }}"
        class="md:opacity-0 md:group-hover:opacity-100 text-lg md:text-xs transition-all ease-in duration-200 text-gray-200 group-hover:text-neutral-400"
      ></ng-icon>
    </a>
    <a
      href="https://wa.me/64992391327"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-1 text-xs text-gray-200 hover:text-emerald-600 group transition-all ease-in duration-200"
    >
      <span class="hidden md:block"> Whatsapp </span>
      <ng-icon
        name="{{ logos.whatsApp }}"
        class="md:opacity-0 md:group-hover:opacity-100 text-lg md:text-xs transition-all ease-in duration-200 text-gray-200 group-hover:text-emerald-600"
      ></ng-icon>
    </a>
    <a
      href="https://twitter.com/_alanjunqueira"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-1 text-xs text-gray-200 hover:text-blue-600 group transition-all ease-in duration-200"
    >
      <span class="hidden md:block"> Twitter </span>
      <ng-icon
        name="{{ logos.twitter }}"
        class="md:opacity-0 md:group-hover:opacity-100 text-lg md:text-xs transition-all ease-in duration-200 text-gray-200 group-hover:text-blue-600"
      ></ng-icon>
    </a>
    <a
      href="https://twitter.com/_alanjunqueira"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-1 text-xs text-gray-200 hover:text-blue-600 group transition-all ease-in duration-200"
    >
      <span class="hidden md:block"> Facebook </span>
      <ng-icon
        name="{{ logos.facebook }}"
        class="md:opacity-0 md:group-hover:opacity-100 text-lg md:text-xs transition-all ease-in duration-200 text-gray-200 group-hover:text-blue-600"
      ></ng-icon>
    </a>
    <div
      class="w-full h-1 bg-gradient-to-br from-fuchsia-700 to-pink-500 rounded-l-lg animate-pulse"
    ></div>
  </div>
</footer>
