<footer class="bg-gray-950 flex flex-col gap-4 items-center py-6 px-5">
  <p class="text-center max-w-[90rem] text-neutral-50">
    Desenvolvido por Alan Junqueira
  </p>
  <div class="flex items-center justify-center gap-4 max-w-[90rem] w-full">
    <div
      class="w-full h-1 bg-gradient-to-br from-emerald-700 to-lime-500 rounded-r-lg animate-pulse"
    ></div>
    <a
      *ngFor="let social of socials; let index = index"
      [href]="social.link"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-1 text-xs group transition-all ease-in duration-200 text-gray-200"
      [ngClass]="{
        'hover:text-blue-600': (social.slug === 'linkedin' || social.slug === 'facebook' || social.slug === 'twitter'),
        'hover:text-rose-500': social.slug === 'instagram',
        'hover:text-neutral-400': social.slug === 'github',
        'hover:text-emerald-600': social.slug === 'whatsApp',
      }"
    >
      <span class="hidden md:block"> {{ social.name }} </span>
      <ng-icon
        [name]="social.icon"
        class="md:opacity-0 md:group-hover:opacity-100 text-lg md:text-xs transition-all ease-in duration-200 text-gray-200 group-hover:text-blue-600"
        [ngClass]="{
          'group-hover:text-blue-600': (social.slug === 'linkedin' || social.slug === 'facebook' || social.slug === 'twitter'),
          'group-hover:text-rose-500': social.slug === 'instagram',
          'group-hover:text-neutral-400': social.slug === 'github',
          'group-hover:text-emerald-600': social.slug === 'whatsApp',
        }"
      ></ng-icon>
    </a>
    <div
      class="w-full h-1 bg-gradient-to-br from-emerald-700 to-lime-500 rounded-l-lg animate-pulse"
    ></div>
  </div>
</footer>
