<!-- ALTERAR PARA P-CARD -->

<p-card
  *ngIf="item"
  [header]="item.name"
  [subheader]="'$' + item.price.toString()"
  class="item-card"
>
  <ng-template pTemplate="header">
    <img class="item-card__imagem" [src]="item.image" />
  </ng-template>

  <div class="item-card__details">
    <span class="item-card__descricao">{{ item.description }}</span>
    <span class="item-card__preco"
      >Preço: <strong>$ {{ item.price }}</strong>
    </span>
    <span class="item-card__pontuacao"
      >Avaliação: <strong>{{ item.rating }}/5</strong>
    </span>
  </div>
  <ng-template pTemplate="footer" class="item-card__acoes">
    <p-button
      class="item-card__acoes__adicionar"
      (click)="adicionar()"
      [disabled]="!item.isAvailable"
      [label]="item.isAvailable ? 'ADICIONAR' : 'FORA DE ESTOQUE'"
    >
    </p-button>
  </ng-template>
</p-card>
